.container{
    display: flex;
    flex-direction: column;
    padding: 25px;   
    justify-content: center;
    align-items: center;
}
.input{
    padding: 15px;
    font-size: 16px;
    width: 80%;
    margin: auto;
    border: 1px solid lightgray;
    border-radius: 6px;
}
.input:focus{
    outline: none;
}